<%- include("./partials/header.ejs") %>

    <div class="secrets upload-secrets">
        
            <% foundSecrets.forEach(item=>{%>
            <div class="share-secrets">
             <p><%= item.name %> </p>
             <div class="trash-can">
                <a class="delete" data-delete="<%= item._id %>" >
                    <i class="fa-sharp fa-solid fa-trash"></i>
                </a>
            </div>
            <h3><%= item.secret %> </h3> 
            </div>
           <%   }) %> 
        
    </div>

<%- include("./partials/footer.ejs") %>

<script>
    const trashcan=document.querySelector(".share-secrets .trash-can a.delete");
    trashcan.addEventListener("click",(event)=>
    {
        let endpoint=`secrets/${trashcan.dataset.delete}`;
        fetch(endpoint,{
            method:"DELETE"
        })
        .then((response)=> response.json())
        .then((data)=>window.location.href=data.redirect )
        .catch((err)=>
        {
            console.log(err)
        })
    })
</script>